{{- $name := promptStringOnce . "name" "Full name" "Chris Chambers" -}}
{{- $email := promptStringOnce . "email" "Email Address" "magma.chambers@gmail.com" -}}
{{- $gituser := promptStringOnce . "gituser" "Github/Gitlab username" "chrischambers" -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  encryption = "gpg"
  gituser = {{ $gituser | quote  }}

[gpg]
  symmetric = true
