{:search-config? true
 :style          [:community :justified :sort-require :ns-justify :respect-nl]
 :map            {:comma? false}
 :fn-map         {">def"  :arg1-body
                  ">defn" :arg1-body
                  "->"    :none-body
                  "->>"   :none-body
                  "are"   [:guided
                           {:style {:style-call   :areguide
                                    :max-variance 1000}}]}}
