{:search-config? true
 :style          [:community
                  ;; :pair-nl-all
                  :backtranslate
                  :extend-nl
                  :justified
                  :sort-require
                  :ns-justify
                  :respect-nl]
 :map            {:comma? false
                  :key-value-options
                  {:deps       {:map {:justify     {:max-variance 1000}
                                      :justify?    true
                                      :respect-nl? false
                                      :sort?       true}}
                   :extra-deps {:map {:justify     {:max-variance 1000}
                                      :justify?    true
                                      :respect-nl? false
                                      :sort?       true}}}}
 :fn-map         {">def"        "def"
                  ">defn"       "defn"
                  "gen-let"     "let"
                  "print-forms" "let"
                  "->"          :none-body
                  "->>"         :none-body
                  "are"         [:guided
                                 {:style {:style-call   :areguide
                                          :max-variance 1000}}]}}
