# Common Functions:
# ----------------------------------------------------------------------
# POSIX-compliant path manipulation without inserting duplicates.
# Source: https://stackoverflow.com/questions/135754/how-to-keep-from-duplicating-path-variable-in-csh#answer-5048977
prepend_to_path() {
    local SAVED_IFS="$IFS"
    local dir
    IFS=:
    for dir in $1 ; do
	if ! $( echo "$PATH" | tr ":" "\n" | grep -qx "$dir" ) ; then
	    PATH=$dir:$PATH
	fi
    done
    IFS="$SAVED_IFS"
}

append_to_path() {
    local SAVED_IFS="$IFS"
    local dir
    IFS=:
    for dir in $1 ; do
	if ! $( echo "$PATH" | tr ":" "\n" | grep -qx "$dir" ) ; then
	    PATH=$PATH:$dir
	fi
    done
    IFS="$SAVED_IFS"
}

body() {
    IFS= read -r header
    printf '%s\n' "$header"
    "$@"
}

# Setup XDG Base Directories:
# https://wiki.archlinux.org/title/XDG_Base_Directory
# ----------------------------------------------------------------------
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

# Better Path:
# ----------------------------------------------------------------------
{{ if eq .chezmoi.os "darwin" -}}
# Update environment with homebrew information/path modifications:
eval "$(brew shellenv)"
{{- end }}

prepend_to_path "/usr/local/sbin"
prepend_to_path "$HOME/bin"

# Aliases:
# ----------------------------------------------------------------------
alias h='history | tail -n 10'    # previous 10 history lines, for context
alias tree='tree -FC'             # colorise and use symbolic key for filetypes
{{- if (eq .chezmoi.os "darwin") }}
alias finder='open /System/Library/CoreServices/Finder.app/'
{{- end }}

# ls / lsd:
if command -v lsd > /dev/null
then
    alias ls="lsd -F"
    alias l="lsd -AlF"
else
    if ls --color -d . >/dev/null 2>&1; then
	alias ls='ls -F --color=auto'   # colorise and use symbolic key for filetypes
	alias l="ls -AlhF --color=auto" # colorised, symbolic key, long listing w/
					# hidden files and human-readable file sizes.
    elif ls -G -d . >/dev/null 2>&1; then
	alias ls='ls -FG'               # colorise and use symbolic key for filetypes
	alias l="ls -AlhFG"             # colorised, symbolic key, long listing w/
					# hidden files and human-readable file sizes.
    fi
fi

# Python:
# ----------------------------------------------------------------------
# The following 2 sections do introduce some overhead - particularly virtualenv
# configuration, although pyenv does too.
# Pyenv Setup:
# ----------------------------------------------------------------------
export PYENV_ROOT="$HOME/.pyenv"
prepend_to_path "${PYENV_ROOT}/bin"
eval "$(pyenv init --path)"
eval "$(pyenv init -)"

# Fix issue with =brew doctor= warning about pyenv-related issues- see:
# https://github.com/pyenv/pyenv/issues/106
alias brew='env PATH="${PATH//$(pyenv root)\/shims:/}" brew'

# Virtualenv (with Pyenv) Setup:
# ----------------------------------------------------------------------
export PYENV_VIRTUALENVWRAPPER_PREFER_PYVENV="true"
export WORKON_HOME=$HOME/.virtualenvs
# lazy variant is slightly more performant:
# pyenv virtualenvwrapper
pyenv virtualenvwrapper_lazy

# Python Aliases:
# ----------------------------------------------------------------------
alias show_site_packages='python -c "from distutils.sysconfig import get_python_lib; print get_python_lib()"'
alias delpyc='find ./ -type f -name "*.pyc" -exec rm -f {} \;'

# Other Programming Language Configuration:
# ----------------------------------------------------------------------

# Haskell:
[ -f "$HOME/.ghcup/env" ] && source "$HOME/.ghcup/env" # ghcup-env

# Ruby:
eval "$(rbenv init -)"

# Rust:
[ -f "$HOME/.ghcup/env" ] && source "$HOME/.cargo/env"

# Clojure:
# Silence "OpenJDK 64-Bit Server VM warning: Options -Xverify:none and -noverify were deprecated in JDK 13 and will likely be removed in a future release"
# Source: https://stackoverflow.com/questions/61211695/openjdk-64-bit-server-vm-warning-options-xverifynone-and-noverify-were-depre
export LEIN_JVM_OPTS="-XX:TieredStopAtLevel=1"

# Shared Utilities:
# ----------------------------------------------------------------------
# Broot:
source ${HOME}/.config/broot/launcher/bash/br

# Zoxide:
eval "$(zoxide init zsh)"
