# -*- mode: bash-ts -*-

# Common Functions:
# ----------------------------------------------------------------------
path_remove() {
  # Removes all occurrences of $1 from PATH
  # Exact, colon-delimited match only
  [ -z "$1" ] && return

  local target=$1
  local result= p

  case ":$PATH:" in
    *":$target:"*) ;;
    *) return ;;
  esac

  result=
  while :; do
    case $PATH in
      *:*)
        p=${PATH%%:*}
        PATH=${PATH#*:}
        ;;
      *)
        p=$PATH
        PATH=
        ;;
    esac

    [ "$p" = "$target" ] || result="${result:+$result:}$p"
    [ -z "$PATH" ] && break
  done

  PATH=$result
}

prepend_to_path() {
    [ -z "$1" ] && return 1
    path_remove "$1"
    PATH="$1${PATH:+:$PATH}"
}

append_to_path() {
    [ -z "$1" ] && return 1
    path_remove "$1"
    PATH="${PATH:+$PATH:}$1"
}

body() {
    IFS= read -r header
    printf '%s\n' "$header"
    "$@"
}

# Setup XDG Base Directories:
# https://wiki.archlinux.org/title/XDG_Base_Directory
# ----------------------------------------------------------------------
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"

## OSX: path_helper
## ----------------------------------------------------------------------
## Note that path_helper must preceed any shims to work properly.
## This may be needed for LaTeX dvipng:
#{{- if (eq .chezmoi.os "darwin") }}
#[ -f "/usr/libexec/path_helper" ] && eval "$(/usr/libexec/path_helper)"
#{{- end }}
## Further information: https://unix.stackexchange.com/questions/22979/path-helper-and-zsh
## ----------------------------------------------------------------------

# Better Path:
# ----------------------------------------------------------------------
prepend_to_path "/usr/local/sbin"

{{ if eq .chezmoi.os "darwin" -}}
# Update environment with homebrew information/path modifications:
eval "$(brew shellenv)"
{{- end }}

# Aliases:
# ----------------------------------------------------------------------
alias h='history | tail -n 10'    # previous 10 history lines, for context
alias tree='tree -FC'             # colorise and use symbolic key for filetypes
{{- if (eq .chezmoi.os "darwin") }}
alias finder='open /System/Library/CoreServices/Finder.app/'
{{- end }}

# ls / lsd:
if command -v lsd > /dev/null
then
    alias ls="lsd -F"
    alias l="lsd -AlF"
else
    if ls --color -d . >/dev/null 2>&1; then
	alias ls='ls -F --color=auto'   # colorise and use symbolic key for filetypes
	alias l="ls -AlhF --color=auto" # colorised, symbolic key, long listing w/
					# hidden files and human-readable file sizes.
    elif ls -G -d . >/dev/null 2>&1; then
	alias ls='ls -FG'               # colorise and use symbolic key for filetypes
	alias l="ls -AlhFG"             # colorised, symbolic key, long listing w/
					# hidden files and human-readable file sizes.
    fi
fi

# Colourised Man Pages:
# ----------------------------------------------------------------------
# export LESS_TERMCAP_mb=$'\e[1;32m'
# export LESS_TERMCAP_md=$'\e[1;32m'
# export LESS_TERMCAP_me=$'\e[0m'
# export LESS_TERMCAP_se=$'\e[0m'
# export LESS_TERMCAP_so=$'\e[01;33m'
# export LESS_TERMCAP_ue=$'\e[0m'
# export LESS_TERMCAP_us=$'\e[1;4;31m'

# Editor:
# ----------------------------------------------------------------------
{{- if (eq .chezmoi.os "darwin") }}
export EMACS_PLUS_NO_PATH_INJECTION=1
{{- end }}
alias e="emacsclient -c -a ''"
export EDITOR="emacsclient -c -a ''"
export VISUAL=$EDITOR

# Python Aliases:
# ----------------------------------------------------------------------
alias show_site_packages='python -c "from distutils.sysconfig import get_python_lib; print get_python_lib()"'
alias delpyc='find ./ -type f -name "*.pyc" -exec rm -f {} \;'

# Other Programming Language Configuration:
# ----------------------------------------------------------------------

# Haskell:
prepend_to_path "$HOME/.ghcup/bin"
[ -f "$HOME/.ghcup/env" ] && source "$HOME/.ghcup/env" # ghcup-env

# Rust:
[ -f "$HOME/.cargo/env" ] && source "$HOME/.cargo/env"

# Shared Utilities:
# ----------------------------------------------------------------------
# fzf theme:
# Source: https://draculatheme.com/fzf
export FZF_DEFAULT_OPTS='--color=fg:#f8f8f2,bg:#282a36,hl:#bd93f9 --color=fg+:#f8f8f2,bg+:#44475a,hl+:#bd93f9 --color=info:#ffb86c,prompt:#50fa7b,pointer:#ff79c6 --color=marker:#ff79c6,spinner:#ffb86c,header:#6272a4'

# xh:
alias http='xh'
alias https='xhs'

# yazi:
function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ -n "$cwd" ] && [ "$cwd" != "$PWD" ] && builtin cd -- "$cwd"
	rm -f -- "$tmp"
}

# Visual Configuration:
# ----------------------------------------------------------------------
# Avoid background colours for o+w without sticky bit (often in nfs shares)
# - it's basically illegible with my themes. This works with lsd as well as ls.
#
# source: https://superuser.com/questions/1598934/how-do-i-change-the-color-ls-in-the-console-for-files-if-group-owner-is-root

export LS_COLORS="$LS_COLORS:ow=1;34:tw=1;34:"

# Tmux Configuration:
# ----------------------------------------------------------------------
export DISABLE_AUTO_TITLE='true'
export TMUXP_CONFIGDIR="${XDG_CONFIG_HOME}/tmuxp"

{{- if (eq .chezmoi.os "darwin") }}

# OSX Specific Configuration:
# ----------------------------------------------------------------------

# https://support.brave.com/hc/en-us/articles/360044860011-How-Do-I-Use-Command-Line-Flags-in-Brave-
function brave() {
    # E.g. "brave --incognito"
    open -a "Brave Browser.app" -n --args "$@"
}

# Ensure mactex binaries added to $PATH:
append_to_path "/Library/TeX/texbin"

{{- end }}

prepend_to_path "$HOME/bin"
