* {
  -fx-theme-base1: #1e1e2e;
  -fx-theme-base2: #1e1e2e;
  -fx-theme-base3: #1e1e2e;
  -fx-theme-base4: #1e1e2e;

  -fx-theme-separator: #fe640b;
  -fx-theme-dim-text: #1e1e2e;
  -fx-theme-button1-background: #55547b;
  -fx-theme-button1-text: white;
  -fx-theme-button-hover: #9c0084;
  -fx-theme-button2-background: #1e1e2e;
  -fx-theme-button2-text: white;

  -fx-theme-selected-main-tools-tab-background: #55547b;
  -fx-theme-selected-main-tools-tab-text: white;

  -fx-theme-flow-code-text: #fff;
  -fx-theme-flow-code-executing-text: #3f474f;
  -fx-theme-flow-code-executing-background: #55547b;
  -fx-theme-flow-code-executing-background-dim: #55547b;
  -fx-theme-flow-code-interesting-text: #ea76cb;

  -fx-theme-defmethod-text: #55547b;
  -fx-theme-defn-text: #fff;
  -fx-theme-extend-text: #55547b;
  -fx-theme-links: #ea76cb;
  -fx-theme-breadcrums: #55547b;
  -fx-theme-ok: #55547b;
  -fx-theme-on: #55547b;
  -fx-theme-attention: #d20f39;
  -fx-theme-warning: #fe640b;
  -fx-theme-title-label: #fe640b;
  -fx-theme-field-label: #55547b;
  -fx-theme-breakpoint: #d20f39;
  -fx-theme-breakpoint-continue: #55547b;
  -fx-theme-form-highlight: #636363;
  -fx-theme-list-selection: #9c0084;
  -fx-theme-hl-combos: #55547b;
  -fx-theme-important-combos: #55547b;
}

.root {
  -fx-base: -fx-theme-base1;
  -fx-background: -fx-theme-base1;
  -fx-control-inner-background: -fx-theme-base1;
}

@font-face {
  src: url("~/Library/Fonts/SauceCodeProNerdFont-Regular.ttf");
}

@font-face {
  src: url("~/Library/Fonts/SauceCodeProNerdFont-Regular.ttf");
}

.main-pane {
  -fx-font-family: "SauceCodeProNerdFont";
}

.context-menu {
  -fx-background-color: -fx-theme-base4;
}

.separator-label {
  -fx-text-fill: -fx-theme-separator;
}

.tab .ikonli-font-icon {
  -fx-icon-color: -fx-theme-button2-text;
  -fx-background-color: linear-gradient(
    to top,
    -fx-base,
    derive(-fx-base, 30%)
  );
}

.button {
  -fx-background-color: -fx-theme-button1-background;
  -fx-text-fill: -fx-theme-button1-text;
}

.toggle-button:selected {
  -fx-background-color: -fx-theme-on;
  -fx-text-fill: #323232;
}

.list-view .list-cell:selected {
  -fx-background-color: -fx-theme-list-selection;
  -fx-text-fill: -fx-theme-flow-code-text;
}

.table-view .table-row-cell:selected {
  -fx-background-color: -fx-theme-list-selection;
  -fx-text-fill: -fx-theme-flow-code-text;
}

.combo-box .label {
  -fx-text-fill: -fx-theme-button2-text;
}

.tab {
  -fx-opacity: 0.5;
  -fx-text-fill: -fx-theme-button1-text;
}

.hl-combo {
  -fx-background-color: -fx-theme-hl-combos;
}

.important-combo {
  -fx-background-color: -fx-theme-important-combos;
}

.tab: selected {
  -fx-opacity: 1;
}

.vertical-tab:selected {
  -fx-background-color: -fx-theme-selected-main-tools-tab-background;
}

.vertical-tab:selected .tab-label {
  -fx-text-fill: -fx-theme-selected-main-tools-tab-text;
}

.button.thread-continue-btn {
  -fx-background-color: -fx-theme-breakpoint-continue;
}

.thread-blocked {
  -fx-text-fill: -fx-theme-warning;
}

.button.clear-break-btn {
  -fx-background-color: -fx-theme-breakpoint;
}

.link-lbl {
  -fx-text-fill: -fx-theme-links;
  -fx-cursor: hand;
}

.link-lbl-no-color {
  -fx-underline: true;
  -fx-cursor: hand;
}

.light {
  -fx-opacity: 0.3;
}

.button:hover {
  -fx-background-color: -fx-theme-button-hover;
  -fx-color: -fx-hover-base;
}

.button:focused {
  /* this is so buttons doesn't look smaller when they are focused */
  -fx-background-insets: 0 0 -1 0;
}

.button .ikonli-font-icon {
  -fx-icon-color: -fx-theme-button1-text;
}

.thread-refresh {
  -fx-background-color: -fx-theme-base1;
}
.thread-refresh .ikonli-font-icon {
  -fx-icon-color: #d20f39;
}

.mirrored {
  -fx-scale-x: -1;
}

.text-field {
  -fx-prompt-text-fill: -fx-theme-button2-text;
}

.ok {
  -fx-background-color: -fx-theme-ok;
  -fx-text-fill: #323232;
}

.warning {
  -fx-background-color: -fx-theme-warning;
  -fx-text-fill: #323232;
}

.fail {
  -fx-background-color: -fx-theme-attention;
  -fx-text-fill: #323232;
}

.attention {
  -fx-background-color: -fx-theme-attention;
  -fx-text-fill: #323232;
}

.tree-search {
  -fx-background-insets: 1 0 1 0;
}

.form-pane {
  -fx-background-color: -fx-theme-base2;
}

.dialog-pane {
  -fx-background-color: -fx-theme-base2;
}

.form-pane.form-background-highlighted {
  -fx-background-color: -fx-theme-form-highlight;
}

.label.defmethod {
  -fx-text-fill: -fx-theme-defmethod-text;
}

.label.defn {
  -fx-text-fill: -fx-theme-defn-text;
}

.label.extend-type {
  -fx-text-fill: -fx-theme-extend-text;
}

.label.extend-protocol {
  -fx-text-fill: -fx-theme-extend-text;
}

.label.anonymous {
  -fx-text-fill: -fx-theme-defn-text;
}

.label.fn-ns {
  -fx-text-fill: -fx-theme-dim-text;
}

.code-token {
  -fx-font-family: "SauceCodeProNerdFont";
  -fx-fill: -fx-theme-flow-code-text;
}

.monospaced {
  -fx-font-family: "SauceCodeProNerdFont";
}

.code-token.executing {
  -rtfx-background-color: -fx-theme-flow-code-executing-background;
  -fx-fill: -fx-theme-flow-code-executing-text;
}

.code-token.executing-dim {
  -rtfx-background-color: -fx-theme-flow-code-executing-background-dim;
}

.code-token.interesting {
  -fx-fill: -fx-theme-flow-code-interesting-text;
  -fx-cursor: hand;
  -fx-font-weight: bold;
}

.code-token.possible {
  -fx-cursor: default;
}

.forms-scroll-container {
  -fx-padding: 10 0 0 0;
}

.form-pane {
  -fx-padding: 5;
}

.thread-controls-pane {
  -fx-background-color: -fx-theme-base2;
  -fx-padding: 10;
}

.trace-position-box {
  -fx-alignment: center;
}

.threads-tab-pane > .tab-header-area {
  -fx-padding: 5 0 0 92;
}

.flows-tab-pane > .tab-header-area {
  -fx-padding: 5 0 0 135;
}

.fn-call-list-cell {
  -fx-background-color: -fx-theme-base2;
}

.fn-call-list-cell .label {
  -fx-text-fill: -fx-theme-flow-code-text;
}

/*****************/
/* Browser stuff */
/*****************/

.label.browser-fn-fq-name {
  -fx-font-weight: bold;
  -fx-text-fill: -fx-theme-button1-background;
  -fx-padding: 10;
}

.browser-fn-args-box {
  -fx-padding: 10;
}

.label.browser-fn-attr {
  -fx-padding: 10;
}

.button.browser-instrument-btn {
  -fx-display: none;
  visibility: hidden;
}

.button.browser-break-btn {
  visibility: hidden;
  -fx-background-color: -fx-theme-breakpoint;
}

.button.browser-break-btn:hover {
  visibility: hidden;
  -fx-background-color: -fx-theme-button-hover;
  -fx-color: -fx-hover-base;
}

.button.browser-break-btn.enable {
  visibility: visible;
}

.button.browser-instrument-btn.enable {
  visibility: visible;
}

.browser-var-buttons {
  -fx-padding: 10;
}

.browser-instr-type-lbl {
  -fx-text-fill: -fx-theme-dim-text;
}

.browser-instr-tools-box {
  -fx-padding: 10;
}

.main-bottom-bar-box {
  -fx-background-color: -fx-theme-base1;
}

.button.reload-tree-btn {
  -fx-background-color: -fx-theme-button2-background;
}

/****************/
/* Docs browser */
/****************/

.docs-fn-name {
  -fx-font-weight: bold;
  -fx-text-fill: -fx-theme-title-label;
  -fx-padding: 5;
}

.docs-label {
  -fx-text-fill: -fx-theme-field-label;
  -fx-padding: 5;
}

.docs-example-box {
  -fx-padding: 10;
}

.docs-box {
  -fx-padding: 10;
  -fx-background-color: -fx-theme-base2;
}

.docs-type-name {
  -fx-text-fill: -fx-theme-extend-text;
}

.docs-arg-symbol {
  -fx-text-fill: -fx-theme-dim-text;
}

.hidden-node {
  -fx-display: none;
  visibility: hidden;
  -fx-max-width: 0;
}

.docs-example-ret-symbol {
  -fx-text-fill: -fx-theme-links;
}

/*****************/
/* Timeline tool */
/*****************/

.timeline-tool .controls-box {
  -fx-padding: 5;
}

/****************/
/* Data Windows */
/****************/

.data-window .breadcrums .button {
  -fx-background-color: -fx-theme-breadcrums;
}

/***********/
/* Outputs */
/***********/

.outputs-dw {
  -fx-background-color: -fx-theme-base2;
}

/**************/
/* Font Sizes */
/**************/

.root {
  -fx-font-size: 15;
}
.ikonli-font-icon {
  -fx-font-size: 13;
}
.btn-sm {
  -fx-font-size: 9;
}
.btn-xs {
  -fx-font-size: 7;
}

.threads-tab-pane > .tab-header-area {
  -fx-padding: 5 0 0 130;
}
.flows-tab-pane > .tab-header-area {
  -fx-padding: 5 0 0 300;
}

.flows-combo {
  -fx-pref-width: 155;
  -fx-font-size: 13;
}
