# Manual Steps Required:

# - Add raycast script for launching emacs via terminal login-shell
#   currrently in Dropbox/raycast_scripts/emacs

{
  description = "My system configuration";
  # Command to reload:

  # darwin-rebuild switch --flake ~/.config/nix

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixos-24.11";
    nix-darwin = {
      url = "github:LnL7/nix-darwin/nix-darwin-24.11";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    home-manager = {
      url = "github:nix-community/home-manager/release-24.11";
      inputs.nixpkgs.follows = "nixpkgs";
    };
  };

  outputs = inputs@{ self, nix-darwin, nixpkgs, home-manager, ... }:
  let
    configuration = {pkgs, ... }: {
        # Use touch ID when running darwin-rebuild command above:
        security.pam.enableSudoTouchIdAuth = true;

        services.nix-daemon.enable = true;
        # Necessary for using flakes on this system.
        nix.settings.experimental-features = "nix-command flakes";

        system.configurationRevision = self.rev or self.dirtyRev or null;

        # Used for backwards compatibility. please read the changelog
        # before changing: `darwin-rebuild changelog`.
        system.stateVersion = 4;

        # The platform the configuration will be used on.
        # If you're on an Intel system, replace with "x86_64-darwin"
        nixpkgs.hostPlatform = "aarch64-darwin";

        # Declare the user that will be running `nix-darwin`.
        users.users.{{ .chezmoi.username }} = {
          name = {{ .chezmoi.username | quote }};
          home = {{ .chezmoi.homeDir | quote }};
        };

        # Create /etc/zshrc that loads the nix-darwin environment.
        programs.zsh.enable = true;

        environment.systemPackages = with pkgs; [
          as-tree          # show file/dir listing as tree
          curlie           # curl / http like CLI
          nil              # nix language server

          csvlens          # csv viewing utility
          tidy-viewer      # csv viewing utility

          # emacsPackages.jinx # spell-checking
          # enchant          # spell-checking

          # bash-language-server
          jdt-language-server
          nodePackages_latest.bash-language-server
          #nodePackages_latest.vscode-html-languageserver-bin

          # nodejs_latest
          # nodePackages_latest.prettier
          # FIXME: ln -s /run/current-system/sw/bin/zprint ~/bin/clj-zprint
          zprint

          chromaprint # acoustid interface for beet
          mp3val
          # essentia-extractor # obtain higher-level musical information for songs
          # youtube-dl

          # julia-bin
          scala
        ];
        environment.systemPath = [
          "{{ .chezmoi.homeDir }}/bin"
          "/opt/homebrew/bin"
          "/opt/homebrew/sbin"
          "/Library/TeX/texbin"
        ];

        homebrew = {
          enable = true;
          # onActivation.cleanup = "uninstall";
          taps = [ "nextjournal/brew" ];
          brews = [ "cowsay" "enchant" "julia" "nextjournal/brew/garden" "yt-dlp" ];
          casks = [ "disk-inventory-x" "tinymediamanager" ];
        };
        # https://github.com/LnL7/nix-darwin/issues/1041
        # services.karabiner-elements.enable = true;
    };
    homeconfig = {pkgs, ...}: {
      # this is internal compatibility configuration
      # for home-manager, don't change this!
      home.stateVersion = "24.05";

      # Let home-manager install and manage itself:
      programs.home-manager.enable = true;

      home.packages = with pkgs; [
        nixfmt-rfc-style
        nix-direnv
      ];

      # NOTE: Won't work unless home-manager manages dotfiles.
      home.sessionVariables = {
        EDITOR = "emacsclient -c -a 'emacs'";
      };
    };
  in
  {
    darwinConfigurations.{{ .chezmoi.hostname | quote }} = nix-darwin.lib.darwinSystem {
      modules = [
         configuration
         home-manager.darwinModules.home-manager  {
           home-manager.useGlobalPkgs = true;
           home-manager.useUserPackages = true;
           home-manager.verbose = true;
           home-manager.users.{{ .chezmoi.username }} = homeconfig;
         }
      ];
    };
  };
}
